tmp
tangd/target
*.npm
app/.config
/app/index.js
/app/jwkStore.sqlite3
/.Makefile.swp
/app/jwk_keys.sqlite3
/app/index.js.gz
/app/nohup.out
/app/jwk_keys.sqlite3-journal
/app/keys.sqlite3-journal
/app/keys.sqlite3-journal.bak
/app/keys.sqlite3.bak
/~$logo.pptx
