[submodule "app/private/async/async"]
	path = app/private/async/async
	url = ../../lib/cljs/async/async.git
[submodule "app/private/async/sqlite"]
	path = app/private/async/sqlite
	url = ../../lib/cljs/async/sqlite.git
[submodule "app/private/async/restify"]
	path = app/private/async/restify
	url = ../../lib/cljs/async/restify.git
[submodule "app/private/restify"]
	path = app/private/restify
	url = ../../lib/cljs/restify.git
[submodule "app/private/sqlite"]
	path = app/private/sqlite
	url = ../../lib/cljs/sqlite.git
[submodule "app/private/jose"]
	path = app/private/jose
	url = ../../lib/cljs/jose.git
[submodule "app/private/interop"]
	path = app/private/interop
	url = ../../lib/cljs/interop.git
